<meta charset="UTF-8" />
<title><%= `${title ? title: 'Document'}` %></title>

<!-- CSS (load tailwind from a CDN) -->
<script src="https://cdn.tailwindcss.com"></script>

<style>
  body {
    padding: 50px;
  }
</style>
